version: 3

images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-25/ee-minimal-rhel9:latest

options:
  package_manager_path: /usr/bin/microdnf

dependencies:
  python_interpreter:
    package_system: python3

  ansible_core:
    package_pip: ansible-core

  ansible_runner:
    package_pip: ansible-runner

  system:
    - openssh-clients
    - sshpass

  python:
    - pywinrm
    - requests
    - boto3
    - botocore

  galaxy:
    collections:
      - name: community.postgresql
      - name: ansible.windows
      - name: amazon.aws
      - name: community.aws

