---
- name: Collect AWS EC2 instance and storage information
  hosts: localhost
  connection: local
  gather_facts: false
  collections:
    - amazon.aws

  vars:
    aws_region: ap-east-1
    ec2_instance_id: i-0d33f7033e3bca537

  tasks:
    - name: Query EC2 instance information
      amazon.aws.ec2_instance_info:
        region: "{{ aws_region }}"
        instance_ids:
          - "{{ ec2_instance_id }}"
      register: ec2_info

    - name: Ensure EC2 instance was found
      assert:
        that:
          - ec2_info.instances | length > 0
        fail_msg: "No EC2 instance found for the given instance ID and region."

    - name: Extract attached EBS volume IDs
      set_fact:
        ebs_volume_ids: >-
          {{
            ec2_info.instances[0].block_device_mappings
            | map(attribute='ebs.volume_id')
            | list
          }}

    - name: Query EBS volume information
      amazon.aws.ec2_vol_info:
        region: "{{ aws_region }}"
        filters:
          volume-id: "{{ ebs_volume_ids }}"
      register: ebs_info


    - name: Display EC2 instance information
      debug:
        msg:
          Region: "{{ ec2_info.invocation.module_args.region }}"
          InstanceID: "{{ ec2_info.instances[0].instance_id }}"
          Name: "{{ ec2_info.instances[0].tags.Name | default('') }}"
          State: "{{ ec2_info.instances[0].state.name }}"
          InstanceType: "{{ ec2_info.instances[0].instance_type }}"
          PublicIP: "{{ ec2_info.instances[0].public_ip_address | default('') }}"
          PrivateIP: "{{ ec2_info.instances[0].private_ip_address | default('') }}"
          AvailabilityZone: "{{ ec2_info.instances[0].placement.availability_zone }}"

    - name: Display attached EBS storage information
      debug:
        msg:
          Volumes: >-
            {{
              ebs_info.volumes | map('extract', {
                'VolumeId': 'id',
                'SizeGB': 'size',
                'State': 'state',
                'Type': 'volume_type',
                'Encrypted': 'encrypted'
              }) | list
            }}

